.DS_Store
*.so
*.pyc
._*
.nfs.*
*~
*.orig
*.rej
*.exe
.*.swp
core
*.cgo*.go
*.cgo*.c
_cgo_*
_obj
_test
_testmain.go


/src/github.com/vikas-garud/testzone/testzone
/VERSION.cache
/bin/
/goinstall.log
/last-change
/pkg/
/src/*.*/
/test/run.out
/test/times.out









